<div class="page-header">
  <h3>Restaurantdetail #<%= @restaurantdetail.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @restaurantdetail.description %></dd>

      <dt>Address</dt>
      <dd><%= @restaurantdetail.address %></dd>

      <dt>Website</dt>
      <dd><%= @restaurantdetail.website %></dd>

      <dt>Photo</dt>
      <dd><img src="<%= @restaurantdetail.photo %>" class="img-responsive"></dd>

      <dt>Review</dt>
      <dd><%= @restaurantdetail.review_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurantdetails" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurantdetails/<%= @restaurantdetail.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurantdetail/<%= @restaurantdetail.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Restaurantdetail has many restuarants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restuarants
      </li>

      <% @restaurantdetail.restuarants.each do |restuarant| %>
        <li class="list-group-item">
          <a href="/restuarants/<%= restuarant.id %>">
            <%= restuarant.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/restuarants/<%= restuarant.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/restuarants/<%= restuarant.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_restuarant/<%= restuarant.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
