<div class="page-header">
  <h3>Restuarant #<%= @restuarant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restuarant.name %></dd>

      <dt>Rating</dt>
      <dd><%= @restuarant.rating %></dd>

      <dt>Number of review</dt>
      <dd><%= @restuarant.number_of_review %></dd>

      <dt>Details</dt>
      <dd>
        <% if @restuarant.details.present? %>
          <a href="/restaurantdetails/<%= @restuarant.details_id %>">
            <%= @restuarant.details.description %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restuarants" class="btn btn-primary">
        Back
      </a>
      <a href="/restuarants/<%= @restuarant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restuarant/<%= @restuarant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
