<div class="page-header">
  <h3>Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @review.user_id %></dd>

      <dt>Stars</dt>
      <dd><%= @review.stars %></dd>

      <dt>Content</dt>
      <dd><%= @review.content %></dd>

      <dt>Images</dt>
      <dd><%= @review.images_id %></dd>

      <dt>Photoset</dt>
      <dd><%= @review.photoset_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reviews" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @review.user %>
        <a href="/reviews/<%= @review.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_review/<%= @review.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Review has many restaurantdetails -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurantdetails
      </li>

      <% @review.restaurantdetails.each do |restaurantdetail| %>
        <li class="list-group-item">
          <a href="/restaurantdetails/<%= restaurantdetail.id %>">
            <%= restaurantdetail.description %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/restaurantdetails/<%= restaurantdetail.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/restaurantdetails/<%= restaurantdetail.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_restaurantdetail/<%= restaurantdetail.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_restaurantdetail" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <textarea id="address" name="address" placeholder="Address" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for website -->
      <div class="form-group">
        <label for="website" class="control-label">
          Website
        </label>

        <input type="text" id="website" name="website" placeholder="Website" class="form-control" value="">
      </div>

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Photo
        </label>

        <input type="file" id="photo" name="photo" class="form-control">
      </div>

      <!-- Label and input for review_id -->
      <input type="hidden" name="review_id" value="<%= @review.id %>">

      <button class="btn btn-block btn-success">
        Create Restaurantdetail
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
